* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	width: 100%;
	height: 100vh;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace !important;
}

.day {
	background-color: rgb(58, 58, 58);
	box-shadow: 3px 2px 4px 0 black;
}

.night {
	background-color: #fff;
	box-shadow: 3px 2px 4px rgb(241, 235, 235);
}

.day-container {
	background-color: rgb(58, 58, 58);
	box-shadow: 0 10px 10px 10px black;
}

.night-container {
	background-color: #fff;
	box-shadow: 0 10px 10px 10px rgb(241, 235, 235);
}

.header {
	width: 100%;
	height: 50px;
	max-width: 600px;
	padding: 5px;
	margin: 0 auto 35px;
	/* background-color: gray; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.type {
	width: 200px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	margin: auto;
	border: 1px solid black;
	border-radius: 25px;
	text-align: center;
}

option {
	font-size: 16px;
	font-weight: 700;
}

.circle {
	width: 20px;
	height: 20px;
	align-items: flex-end;
	margin: auto;
	border: 1px solid black;
	border-radius: 50%;
}

.container {
	width: 300px;
	height: 450px;
	border: 1px solid black;
	margin: 0 auto 35px;
	padding: 2px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	gap: 3px 2px;
	/* box-shadow: 0 10px 10px 10px black; */
}

.display {
	width: 98%;
	height: 25%;
	margin: 0 auto;
	padding: 1px;
}

.display input[type="text"] {
	width: 100%;
	height: 49%;
	font-size: 18px;
	font-weight: 800;
	padding: 0 8px;
	/* border: None; */
	background-color: darkgray;
	box-shadow: 3px 3px 3px 1px black;
}

#operation {
	border-bottom: None;
	border-radius: 25px 25px 0 0;
}

#result {
	text-align: right;
	border-top: None;
	border-radius: 0 0 25px 25px;
}

.buttons {
	width: 100%;
	height: 75%;
	margin: auto;
	padding: 2px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3px 4px;
	justify-content: baseline;
	align-items: baseline;
}

.btn {
	width: 23%;
	height: 18%;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 3px 3px 3px 1px black;
}

.btn-number {
	background-color: #fff;
}

.btn-function {
	background-color: rgb(239, 154, 17);
}

/* .db-height {
	height: 36%;
} */

.db-width {
	width: 46%;
}